<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- 
      Conexiones a la DB 
    -->
    <connectionStrings>
      <add name="IntedieConnection"
           connectionString = "DATA SOURCE=10.197.138.96:1521/apl_intedie; PERSIST SECURITY INFO=True;USER ID=apl_intedie; password=intedie; Pooling =False;" />
      <add name="DisconfConnection"
           connectionString = "DATA SOURCE=10.197.138.96:1521/dis_conf; PERSIST SECURITY INFO=True;USER ID=dis_conf; password=prod_conf; Pooling =False;" />
    </connectionStrings>
  
  <!-- 
      Entorno de la aplicacion 
    -->
  <appSettings>
    <add key="rootFolder" value="C:\DATA\EDI\" />
    <add key="folder840Path" value="\EDI-840" />
    <add key="folder843Path" value="\EDI-843" />
    <add key="folder850Path" value="\EDI-850" />
  </appSettings>
  
</configuration>